*{
	width:900px;
}.h1{font-size:37px;
color:blue;
text-transform:capitalize;
text-shadow:5px 4px 5px;}
	@font-face{font-family:myfont;
	src:url(black_jack.ttf);}
	.two{font-family:myfont;
	color:blue;
	}
	.h2 ::first-line {font-weight:bold;}
	.h2 ::first-letter{ color:blue;}
	.h3{color:blue;
	text-transform:capitalize;}
	.h5{font-style:italic;
	text-align:right;}
