* {
  margin: 0;
  padding: 0;
}
 
body {
  font-family: sans-serif;
  color: #333;
}
 

#menu ul {
  background: #1F568B;
  list-style-type: none;
  text-align: center;
  padding:0;
  border:10px solid;
   float:left;
}
#menu ul:first-child{
border-radius:7px 0 0 0;
border-left:none;
}
#menu ul:last-child{border-radius:0 7px 0 0;
border-right:none;}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;

  line-height: 40px;

}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block; 
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
 .sub-menu li {
  display: none;
 
}
#menu li {
 position: relative;
}
.sub-menu {
 display: none;
 position: absolute;

}
#menu li:hover .sub-menu {
 display: block;
 border:10px ;
 }